[submodule "software/lib/ESP32_ISR_Servo"]
	path = software/lib/ESP32_ISR_Servo
	url = https://github.com/khoih-prog/ESP32_ISR_Servo
[submodule "software/lib/ServoESP32"]
	path = software/lib/ServoESP32
	url = https://github.com/RoboticsBrno/ServoESP32
